@import '../common/style/var.less';
@import '../common/style/mixins/hairline.less';

.fbm-send-code {
  &__county-code-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 8px;
    border-right: @border-width-base solid @border-color;
  }
}
